@use "../base/variables" as *;

.main__skills {
  margin-top: 40px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }
}

.main__works {
  margin-top: 40px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }
}

.main__contacts {
  margin-top: 40px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }
}
