@use "../base/variables" as *;

.main {
  flex: 1 1 auto;

  &--simple {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main__intro {
  @media (min-width: $tablet) {
    margin-top: 20px;
  }
}

.main__skills {
  margin-top: 40px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }
}

.main__works {
  margin-top: 40px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }
}

.main__contacts {
  margin-top: 40px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }
}
