@use "../base/variables" as *;
@use "../base/mixins" as *;

.page {
  height: 100%;

  &--scroll-lock {
    overflow-y: hidden;
    scrollbar-gutter: stable;
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-text);
  background-color: var(--primary-background);
}
