:root {
  --primary-background: #ffffff;
  --primary-background-rgb: 255, 255, 255;
  --secondary-background: #559be7;
  --primary-text: #000000;
  --secondary-text: #ffffff;
  --special-text: #1776d5;
  --primary-border: #dddddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
