:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #559be7;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --special-text-color: #1776d5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
