.theme-dark {
  --primary-background: #23272F;
  --secondary-background: #70aae8;

  --primary-text: #ffffff;
  --secondary-text: #23272F;
  --special-text: #70aae8;

  --primary-border: #dddddd;

  .header__toggle-theme::before {
    mask-image: url("../images/sprite.svg#light");
  }

  .skills__item-link {

    &--html::before {
      background-image: url("../images/icons/html-alt.svg");
    }

    &--css::before {
      background-image: url("../images/icons/css-alt.svg");
    }

    &--sass::before {
      background-image: url("../images/icons/sass-alt.svg");
    }

    &--react::before {
      background-image: url("../images/icons/react-alt.svg");
    }

    &--mssql::before {
      background-image: url("../images/icons/mssql-alt.svg");
    }

    &--mysql::before {
      background-image: url("../images/icons/mysql-alt.svg");
    }

    &--maria-db::before {
      background-image: url("../images/icons/maria-db-alt.svg");
    }

    &--figma::before {
      background-image: url("../images/icons/figma-alt.svg");
    }
  }

  .works__item-content {
    color: var(--secondary-text);
  }

  .works__item-technology {
    color: var(--primary-text);
  }
}
