@use "../base/variables" as *;

.intro__inner {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, 400px);
    gap: 40px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
  }
}

.intro__content {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $desktop) {
    grid-column: span 2;
  }
}

.intro__title {
  align-self: center;
  margin: 0 0 -4px;
  padding-bottom: 4px;
  border-bottom: 4px solid var(--secondary-background);
}

.intro__subtitle {
  align-self: center;
  font-weight: 700;
}

.intro__description {
  margin: 0;
}

.intro__link {
  color: var(--special-text);

  &:hover {
    font-weight: 700;
  }

  &:focus-visible {
    outline: 2px solid var(--focus);
  }
}

.intro__picture {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $tablet) {
    height: 100%;
  }
}

.intro__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
