@use "../base/variables" as *;
@use "../base/mixins" as *;

.works__container {
  text-align: center;
}

.works__title {
  display: inline-block;
  margin: 0 0 -4px;
  padding-bottom: 4px;
  border-bottom: 4px solid #559BE7;
}

.works__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 30px;
  margin: 30px 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.works__item {
  display: flex;
  justify-content: stretch;

  &--hide {
    @include visually-hidden();
  }
}

.works__item-link {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: var(--primary-text-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.works__item-link:hover {
  opacity: 0.8;
}

.works__item-link:active {
  opacity: 0.6;
}

.works__item-content {
  position: relative;
  z-index: 2;
  align-self: end;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.works__item-picture {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.works__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works__item-title {
  margin: 0;
}

.works__item-description {
  margin: 10px 0 0;
}

.works__item-technologies {
  display: flex;
  gap: 8px;
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}

.works__item-technology {
  padding: 2px 6px;
  color: var(--secondary-text-color);
  border-radius: 6px;
  background-color: var(--secondary-bg-color);
}

.works__area-button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
}
